.image-container{
    max-height: 93vh;
    /*overflow: hidden;*/
    position: relative;
    display: inline-block;
}

#topImage {
    position: absolute;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
#logoContainer{
    max-width: 30%;
}

#overlay {
    position: relative;
    padding-top: 30%;
}

#overlay2{
    background-color: #3b4553;
}

#navbar{
    background-color: #f9ae24;
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logoImage {
    max-height: 100px;
    max-width: 100px;
    width: auto;
}

.overlay-text{
    color: #fff;
    text-shadow: 3px -2px 3px #000000;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: left;
    margin-left: 10px;
    justify-content: center;
    flex-direction: column;
}

.content{
    background-color: white;
}

.navbar-nav{
    font-size: 16pt;
}

.nav-link{
    color: #fff;
    padding: 10px;
}

#cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 350px;
    margin-top: 30px;
}

.btnContainer{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 700px){
    #overlay{
        padding-top: 10%;
    }
}

@media only screen and (max-width: 450px){
    .logoImage {
        max-height: 60px;
        max-width: 60px;
        width: auto;
    }

    .overlay-text h2{
        font-size: 16px;
    }

    #overlay{
        padding-top: 0%;
    }
}

.footer {
    background-color: #3b4553;
    color: #fff;
    padding: 20px 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #777;
}

.admin{
    text-align: right;
}


